@import '../../../mixins/mixin.scss';

.button{
	@include btnStandartPadding;
	background: #403432;
	@include btnStyle;

	&:hover{
		cursor: pointer;
		background: #776763;
		transition: cubic-bezier(1, 0, 0, 1) .3s all;
	}
	
	.disable{
		@include btnStandartPadding;
		background: #C1B4B1;
		@include btnStyle;
	}
}

.inCart{
	padding: 12px 9px;
	background: #5B3A32;
	@include btnStyle;
}