.main{
	flex: 1 1 auto;

	.container{
		margin: 0 auto;
		max-width: 1216px;
	}

	&__header{
		font-size: 29px;
		font-weight: bold;
		margin: 45px 0 40px 0;
	}

	.goods{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
