@import '../../mixins/mixin.scss';

.footer{
	flex: 0 0 auto;
	min-height: 97px;
	background-color: #ECEAEA;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__container{
		@include container
	}

	.contacts{
		margin: 0;
		padding-left: 0;
		display: flex;
	
		&__phone{
			margin: 0 80px 0 0;
			list-style-image: url(../../images/phone.png);
		}
	
		&__adress{
			list-style-image: url(../../images/adress.png);
		}
	}
}




