.blok{
	width: 280px;
	height: 328px;
	margin: 0 0 23px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #E1E1E1;

	&:last-child{
		margin: 0;
	}

	&__picture_sold{
		filter: alpha(Opacity=50);
		opacity: 0.5; 
	}

	&__discription{
		height: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 24px 24px;

		&__name{
			font-size: 22px;
		}

		&__name_sold{
			font-size: 22px;
			color: #34303095;
		}

		&__price{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.sold{
		margin-bottom: 10px;
		color: #34303095;
		font-size: 20px;
		line-height: 150%;
	}

	.discount{
		font-size: 16px;
		display: flex;
		align-items: center;
		text-decoration-line: line-through;
		color: #A0A0A0;
	}

	.price{
		font-size: 19px;
	}
}

